<!DOCTYPE html>
<html>

<head>
  <title>DamiensLab</title>
  <!-- <script type="text/javascript" src="/js/jquery.min.js"></script> -->

  <!-- <link rel="stylesheet" href="/css/datatables.min.css"> -->
  <!-- <script type="text/javascript" src="/js/datatables.min.js"></script> -->
  <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  <link rel="icon" href="image/favicon.ico" type="image/x-icon">

  <!-- Icons -->
  <link rel="stylesheet" type="text/css" href="/css/pe-icon-7-stroke.css">
  <link rel="stylesheet" type="text/css" href="/css/pe-helper.css">
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/css/all.min.css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@700;900&display=swap"
    rel="stylesheet">

  <!-- CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="/css/leaflet.css">
  <link rel="stylesheet" href="/css/aos.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">



  <script src="/js/jquery.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/swiper-bundle.min.js"></script>
  <script src="/js/leaflet.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/jquery.preloadinator.min.js"></script>
  <script src="/js/vanilla-tilt.min.js"></script>
  <script src="/js/textition.js"></script>


  <link rel="stylesheet" href="/css/glightbox.css" />
  <script src="/js/glightbox.js"></script>


  <script type="text/javascript" src="/js/sha.js"></script>
  <script type="text/javascript" src="/js/phx_app.js"></script>
  <script type="text/javascript" src="/js/base.js"></script>
  <script src="/js/script.js"></script>
</head>

<body id="page" data-bs-spy="scroll" data-bs-target="#site-navbar" class="home-developer">
<%- content %>
</body>



</html><!-- PRE LOADER -->
<div class="preloader js-preloader flex-center">
  <div class="dots">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>