<!DOCTYPE html>
<html>

<head>
  <title>Express</title>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/sha.js"></script>
  <script type="text/javascript" src="/js/phx_app.js"></script>
  <script type="text/javascript" src="/js/base.js"></script>
  <link rel="stylesheet" href="/css/datatables.min.css">
  <script type="text/javascript" src="/js/datatables.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body id="page">
  <h1>Express</h1>
  <p>Welcome to Express</p>
</body>


</html>