/* This file is for your main application css. */
/*@import "./phoenix.css";*/
.fresh {
  opacity: 1;
  animation-name: example;
  animation-duration: 0.4s;
}



@keyframes example {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;

  }
}

div.dataTables_wrapper div.dataTables_length select {
  width: 120px;
  min-width: 55px;
  display: inline-block;
}

.text-sm {
  font-size: 0.8em;
}

.text-lg {
  font-size: 24px;
}

.text-xl {
  font-size: 32px;
}

.modal-xl {
  max-width: 90vw;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/css/material-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.wrapper-ring {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.50) no-repeat center center;
  z-index: 10000;

}

.lds-ripple {
  width: 80px;
  height: 80px;
  z-index: 10000;
  position: absolute;
  top: 45%;
  left: 45%;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fdd;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.card-header {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.card {
  border-radius: 8px !important;
}

/*#myModal.modal {
  z-index: 2050;
}

.modal-backdrop.show:nth-of-type(2n) {
  z-index: 2040;
}*/
thead td {
  font-weight: bold;
}
tbody td {
  vertical-align: middle;
}
.btn-round {
  border-radius: 30px;
  padding: 12px;
  line-height: 0px;
  box-shadow: 2px 2px 2px #0000004a;
}

.btn-round i {
  box-shadow: -10px -10px 10px #ffffff75;
  border-radius: 30px;
}
.btn {
  border-radius: 8px;
 }